body {
    margin: 0;
    padding: 0;
    background-color: #e1e5fc;
    overflow-x: hidden;

}
.circle {
position: absolute;
top: 336px;
    left: -100px;
    width: 641px;
    height: 641px;
    flex-shrink: 0;
    border-radius: 641px;
    background: #0e0e0e;
    opacity: .3;
}
.circle2{
    position: absolute;
    top: 1100px;
    left: 80%;
    width: 641px;
    height: 641px;
    flex-shrink: 0;
    border-radius: 641px;
    background: #0e0e0e;
    opacity: .3;
    z-index: -1;
}
/* Header */
header {
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 0  10%;
    height: 57px;
    width: auto;
    margin: 0;
    font-family: Inknut Antiqua;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    font-style: normal;
    margin-block: 0;
    font-size: 18px;
}
nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    display: flex;
    padding: 0;
    margin-left: 2em;
    
}
nav a::after{
    content: " ";
    display: block;
    width: 100%;
    height:1.5px;
    background: #B9413E;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
}
nav a:hover{
    color: #B9413E;

}

/* Main img */
.intro {
    position: relative;
    margin: 0 auto;
    height: 100vh;    
}
.intro img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    position: relative;
}
.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #0e0e0e;
    z-index: -1;
}
.intro .text {
    position: absolute;
    bottom: 15%;
    left: 12%;
    width: auto;
    height: auto;
    color: #fff;
    padding: 0 20px;
    background: linear-gradient(90deg, rgba(14, 14, 14, 0.50) 32.63%, rgba(14, 14, 14, 0.00) 91.38%);
    margin: 0 auto;
    
}
.intro .text h2 {
    font-family: Irish Grover, sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 5%;
}
.intro .text p {
    font-family: Inria Serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: 0;
}
.intro button {
    position: absolute;
    bottom: 0;
    left: 1050px;
    width: 80px;
    height: 80px;
    color: #0e0e0e;
    text-align: center;
    font-family: Inknut Antiqua;
    font-size: 15px;
    font-style: normal;
    background: #e1e5fc;
    border-radius: 641px;
    border: none;
    cursor: pointer;    
}
.intro button:hover {
    background: #B9413E;
    color: #fff;
}
/* About */
.who{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container h2{
    text-align: center;
    font-family: Inknut Antiqua;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    padding-bottom: 0;
}
.container h1{
    text-align: center;
    font-family: Inknut Antiqua;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    margin-top: 0;
}
.who .text{
    display: flex;
    justify-content: center;
    padding: 0 10%;
    font-family: Inria Serif;
    font-size: 20px;
    margin-top: 70px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.who .text .welcome{
    width: 400px;
    flex-shrink: 0;
    margin-top: 30px;
    margin-right: 70px;
    border-top: 1px solid #0e0e0e;
    padding-top: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.who .container h1:hover{
    transition: 0.5s;
    transform: scale(1.1);
    color: #B9413E;
}
.who .container h1:hover::after{
    
    display: block;
}
.who .text .description {
    width: 500px;
    height: auto;
    flex-shrink: 0;
    margin-top: 10px;
}
.who button{
    background: var(--0E0E0E, #0E0E0E);
    color: #fff;
    border: none;
    display: flex;
    flex-shrink: 0;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 10px ;
    margin-left: 270px;
    margin-top: 10px;
    cursor: pointer;
}
.who button:hover{
    background: #B9413E;
    color: #fff;
}
/*Image*/
.imagine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; 
    margin: 100px 8% 0 8%;
}
.imagine img{
    width: 23%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}
.imagine img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/*Popular music*/
.music .popular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin: 100px 15% 0 15%;
}
.music .popular h1{
    font-family: Inknut Antiqua;
    font-family: Inknut Antiqua;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: 116px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.music .popular hr {
    border: none;
    height: 2px;
    background-color: #000;
    width: 15%;
    margin-top: 65px;
}
.music .popular button{
    background: var(--0E0E0E, #0E0E0E);
    height: 50px;
    color: #fff;
    border: none;
    display: flex;
    flex-shrink: 0;
    font-family: Inknut Antiqua;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 40px;
    cursor: pointer;
}
.music .popular button:hover{
    background: #B9413E;
    color: #fff;
}
.video{
    display: flex;
}
.video .img1{
    position: absolute;
    top: 2100px;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.video .img1 img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.video .img2{
    position: absolute;
    top: 2000px;
    left: 650px;
    display: flex;
    flex-direction: column;
}
.video .img2 img{
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.video .img3{
    position: absolute;
    top: 2820px;
    left: 5%;
    display: flex;
    flex-direction: column;
}
.video .img3 img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.video .img4{
    position: absolute;
    top: 2550px;
    left: 850px;
    display: flex;
    flex-direction: column;
}
.video .img4 img{
    width: 80%;
    height: auto;
    border-radius: 10px;
}
.video .text{
    margin:  20px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video .text svg{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    padding: 0;

}
.video .text svg:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.video .img1 .text{
    width: 50%;
    background: linear-gradient(270deg, rgba(72, 133, 133, 0.69) 16.67%, rgba(72, 133, 133, 0.00) 100%);
}
.video .img2 .text{
    width: 80%;
    background: linear-gradient(270deg, rgba(72, 133, 133, 0.69) 16.67%, rgba(72, 133, 133, 0.00) 100%);
}
.video .img3 .text{
    width: 50%;
    background: linear-gradient(270deg, rgba(72, 133, 133, 0.69) 16.67%, rgba(72, 133, 133, 0.00) 100%);
}
.video .img4 .text{
    width: 80%;
    background: linear-gradient(270deg, rgba(72, 133, 133, 0.69) 16.67%, rgba(72, 133, 133, 0.00) 100%);
}
.video .text h1{
    font-family: Inknut Antiqua;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin: 0;
    padding: 0;
}
.video .text p{
    font-family: Inria Serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    padding: 0;
}